.nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-right: 10px;
}

.nav__button {
  /* border: none; */
  border: solid rgb(214, 217, 241, 0.2) 2px;
  /* background: #282f6c; */
  background-color: rgb(214, 217, 241, 0.2);
  border-radius: 50px;
  color: white; /* font-weight: 700; */
  font-size: 15px;
  padding: 10px;
  backdrop-filter: blur(8px);
  min-width: 100px;
}

.nav__button:hover {
  /* background-color: #c01e58; */
  border: solid white 2px;
  /* color: white; */
}

.nav__link {
  text-decoration: none;
  border: solid rgb(214, 217, 241, 0.2) 2px;
  /* background-color: #282f6c; */
  background-color: rgb(214, 217, 241, 0.2);
  border-radius: 50px;
  color: white;
  padding: 10px;
  font-weight: normal;
  /* font-weight: 700; */
  font-size: 15px;
  backdrop-filter: blur(4px);
  min-width: 100px;
  text-align: center;
}

.nav__link:hover {
  /* background-color: #c01e58;
  border: solid #c01e58 2px;
  color: white; */
  border: solid white 2px;
}

@media screen and (max-width: 321px) {
  .nav__button {
    min-width: 50px;
    font-size: 12px;
    border: none;
    backdrop-filter: none;
  }

  .nav__link {
    min-width: 50px;
    font-size: 12px;
    border: none;
    backdrop-filter: none;
  }
}
