.nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-right: 10px;
}

.nav__button {
  /* border: none; */
  border: solid #282f6c 2px;
  background: #282f6c;
  border-radius: 50px;
  color: white; /* font-weight: 700; */
  font-size: 15px;
  padding: 10px;
}

.nav__button:hover {
  background-color: #c01e58;
  border: solid #c01e58 2px;
  color: white;
}

.nav__link {
  text-decoration: none;
  border: solid #282f6c 2px;
  background-color: #282f6c;
  border-radius: 50px;
  color: white;
  padding: 10px;
  font-weight: normal;
  /* font-weight: 700; */
  font-size: 15px;
}

.nav__link:hover {
  background-color: #c01e58;
  border: solid #c01e58 2px;
  color: white;
}
