.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 20px;
  /* font-family: "Cabinet Grotesk - Medium"; */
  font-weight: 700;
  font-size: 20px;

  border: solid red 1px;
}
