.dashboard {
  width: 100%;
  padding-top: 10px;
  overflow: auto;
}

.slaylist-container {
  padding-top: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

.dashboard__content {
  padding-left: 10px;
  color: #d6d9f1;
}

.dashboard__tagline {
  font-size: 19px;
  color: white;
}

.new-slaylist-btn {
  background-color: #ac124a;
  border-color: #ac124a;
  color: white;
  font-style: bold;
  margin-bottom: 5px;
  min-height: 60px;
  font-size: 19px;
}

.new-slaylist-btn:hover {
  border: solid #d6d9f1 2px;
  color: #ac124a;
}
