/* .new-slaylist {
  color: #d6d9f1;
} */

.new-slaylist {
  background-color: #fff;
  max-width: 496px;
  width: 100%;
  border-radius: 20px;
  padding: 34px 36px;
  position: relative;
}

.new-slaylist__title {
  margin-top: 0;
}

.new-slaylist__submit-button {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-color: none;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 32px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #ac124a;
}

.new-slaylist__button-container {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  margin: 0 auto;
}

.new-slaylist__add-new-button {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ac124a;
  border-color: none;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 32px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: pink;
  border: solid #ac124a 1px;
}

.new-slaylist__form {
  padding-top: 25px;
}

.new-slaylist__alternative-button {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  padding-left: 15px;
  background: none;
  font-weight: 700;
  border: none;
}

.new-slaylist__submit-button:hover {
  /* background-color: rgba(0, 0, 0, 0.6); */
  background-color: #c01e58;
}

.new-slaylist__submit-button:active {
  /* background-color: rgba(0, 0, 0, 1); */
  background-color: #881347;
}

.new-slaylist__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  outline: none;
  appearance: none;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  margin-bottom: 25px;
  width: 100%;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.new-slaylist__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}

.new-slaylist__input_radio + label {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  border: rgba(0, 0, 0, 0.4);
  margin-left: 7px;
}
.new-slaylist__input_radio:checked + label {
  color: rgba(0, 0, 0, 1);
  margin-left: 7px;
}
